<div id="dashboard-body" ng-controller="PortfolioCtrl">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="portfolio">Portfolio</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="portfolio">Dashboard</a></li>
                    <li><a ui-sref="portfolio.positions">All positions</a></li>
                    <li><a ui-sref="sheets">Settings</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="{ active: $state.includes('portfolio') }"><a ui-sref="portfolio">Overview</a></li>
                    <li ng-class="{ active: $state.includes('portfolio.positions') }">
                        <a ui-sref="portfolio.positions">All positions</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li ng-repeat="position in positions" ng-class="{ active: $state.includes('portfolio.position({positionId:position.symbol})') }">
                        <a ui-sref="portfolio.position({positionId:position.symbol})">{{position.symbol}}</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li ng-class="{ active: $state.includes('portfolio.transactions') }"><a ui-sref="portfolio.transactions">All transactions</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div ui-view>
                    <h1 class="page-header">Dashboard</h1>

                    <div class="row">
                        <div class="col-xs-12 col-sm-3 dashboard-first-row">
                            <div>
                            <chart val="portfolio.chartData" series="Value">
                            </chart>
                            </div>
                            <h4>Market value</h4>
                            <span class="text-muted">Shows how your portfolio
                            develops in market value</span>
                        </div>

                        <div class="col-xs-12 col-sm-3 dashboard-first-row">
                            <div>
                                <chart val="portfolio.chartData" series="Costs">
                                </chart>
                            </div>
                            <h4>Costs</h4>
                            <span class="text-muted">Shows daily spending</span>
                        </div>

                        <div class="col-xs-12 col-sm-3 dashboard-first-row">
                            <div>
                                <chart val="portfolio.chartData" series="Performance">
                                </chart>
                            </div>
                            <h4>Development of performance</h4>
                            <span class="text-muted">Historical development of 
                                your portfolio's performance</span>
                        </div>

                        <div class="col-xs-12 col-sm-3 dashboard-first-row">
                            <div>
                                <chart val="portfolio.performanceChartData"
                                       type="donut"></chart>
                            </div>
                            <h4>Current performance</h4>
                            <span class="text-muted">Shows the amount of 
                                positive and negative performing positions.  Overall
                                gain is {{portfolio.performance| percent:0}}.</span>

                        </div>
                    </div>

                    <h2 class="sub-header">Numbers</h2>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <h4>Best performing positions</h4>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    
    <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Value</th>
            <th>Performance</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="position in positions | orderBy:orderByPerfDesc | limitTo:3">
            <td>
                <a ui-sref="portfolio.position({positionId:position.symbol})">{{position.quote.name }}</a>
            </td>
            <td>
                {{position.symbol}}
            </td>
            <td>
                {{position.value | bigNum:2 }}
            </td>
            <td>
                {{position.performance | percent:0 }}
            </td>
         </tr>
    </tbody>


                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <h4>Key data</h4>
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>
                                            Costs:
                                        </td>
                                        <td>
                                            {{portfolio.costs| bigNum:2 }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Costs of shares without current quote:
                                        </td>
                                        <td>
                                            {{portfolio.costsWithoutValue| bigNum:2 }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Total costs:
                                        </td>
                                        <td>{{portfolio.costsTotal| bigNum:2 }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Current value:</td>
                                        <td>{{portfolio.value| bigNum:2 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                        
                    <div>
                        
                        <p>{{yahooTriggered}}, {{sheets.worksheetsLoaded}}/{{sheets.worksheetsFound}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>