<div id="unauthorized-body" class="container" ng-controller="SheetsCtrl">

    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a ui-sref="portfolio">Dashboard</a></li>
                <li role="presentation"><a class="active">Settings</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Portfolio</h3>
    </div>

    <div class="row marketing">
    <p>Select a spreadsheet as data source for your portfolio.</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="sheet in sheets">
            <td><a ng-click="setSheetContentSrc(sheet.content._src)">{{sheet.title}}</a></td>
            <td><a href="mailto:{{sheet.author.email}}">{{sheet.author.name}}</a></td>
            <td>{{sheet.updated}}</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>

